.input {
  color: var(--black);
  font: var(--desktop-font-text2);
  border-radius: 50px;
  border: 2px solid var(--light-grey);
  padding: 0 8px 0 16px;
  margin-bottom: 24px;

  &:hover {
    color: var(--accent);
  }
  &:active {
    color: var(--black);
  }
}

@media (width<=768px) {
  .input {
    width: 100%;
    height: 42px;
    font: var(--mobile-font-text2);
  }
}
