.userCards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;
  justify-content: space-between;
  gap: 32px;
}

.title {
  font: var(--desktop-font-title);
  color: var(--black);
  display: inline-block;
  padding-top: 30px;

  & + hr {
    margin-top: 16px;
  }
}

@media (width <= 768px) {
  .userCards {
    gap: 20px;
    margin-top: 16px;
  }
  .title {
    padding-top: 32px;
    font: var(--mobile-font-title);
  }
}
