.section {
  display: flex;
  gap: 40px;
}

.aside {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: var(--full-white);
  border-radius: 16px;
  gap: 40px;
  width: 360px;
}

.profileData {
  display: flex;
  flex-direction: column;
  gap: 12px;
  & span {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--light-grey);
    font: var(--grey);
    cursor: pointer;
  }
}

.userData {
  padding: 40px;
  border-radius: 16px;
  width: 100%;
  background-color: var(--full-white);
}

.userDataTitle {
  font: var(--desktop-font-title);
  margin-bottom: 16px;
  color: var(--black);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 420px;
  margin-top: 24px;
}

.spanProfileData {
  color: var(--grey);
  font: var(--desktop-font-text2);
  &:hover {
    color: var(--accent);
  }
}

span.activeSpan {
  color: var(--black);
  font: var(--desktop-font-text2-bold);
}

@media (width<=768px) {
  .section {
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  .aside {
    display: flex;
    flex-direction: column;
    padding: 28px;
    gap: 24px;
    width: 85%;
    & span {
      font: var(--mobile-font-text2);
    }
  }
  .userData {
    padding: 28px;
    width: 85%;
  }
  .form {
    width: 80%;
    color: var(--black);
    & label {
      font: var(--mobile-font-text1-bold);
    }
  }
}
