:root {
  --full-white: #fdfdfd;
  --dark-white: #f4f4f4;
  --light-grey: #dadada;
  --grey: #9c9c9c;
  --dark-grey: #595959;
  --black: #161616;
  --accent: #22a0bc;
  --logo: #333153;

  --desktop-font-title: semi-bold 24px;
  --desktop-font-headline: semi-bold 20px;
  --desktop-font-text1-bold: semi-bold 18px;
  --desktop-font-text1: regular 18px;
  --desktop-font-text2-bold: semi-bold 16px;
  --desktop-font-text2: regular 16px;
  --caption: regular 14px;

  --mobile-font-title: semi-bold 24px;
  --mobile-font-headline: semi-bold 18px;
  --mobile-font-text1-bold: semi-bold 16px;
  --mobile-font-text1: regular 16px;
  --mobile-font-text2-bold: semi-bold 14px;
  --mobile-font-text2: regular 14px;
  --mobile-caption: regular 12px;
}

body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}
